@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Poppins", sans-serif;
  font-style: normal;
}
body {
  @apply bg-gray-100;
}
.container {
  @apply px-4 lg:px-0 w-full max-w-110 sm:max-w-150 md:max-w-187.5 lg:max-w-250 xl:max-w-300 2xl:max-w-325 mx-auto;
}
.mobile-menu .active {
  @apply bg-lime-400  border-lime-500/50 duration-75 text-gray-900;
}
.desktop-menu .active {
  @apply bg-lime-400 px-4 py-2 border-lime-500/50 duration-75 rounded-4xl text-gray-900;
}
.mobile-menu .mobile-signup {
  flex-grow: 1;
}

.mobile-menu > a {
  @apply bg-gray-200/50 px-4 py-2 border border-gray-200 rounded-lg hover:bg-lime-400 hover:border-lime-500/50 duration-75;
}

.gradient-dark-text {
  background-image: linear-gradient(
    to right,
    transparent,
    #2e3e52,
    transparent
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.custom-pagination .swiper-pagination-bullet {
  @apply bg-gray-500 w-8 h-1.5 rounded-sm cursor-pointer hover:bg-gray-800;
}
.custom-pagination .swiper-pagination-bullet-active {
  @apply bg-lime-500 w-12 hover:bg-lime-500 duration-150;
}

.bounce-animate {
  animation: lift 3s ease-in-out infinite;
  will-change: transform;
  position: relative;
}

@keyframes lift {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-12px);
  }
  100% {
    transform: translateY(0);
  }
}

.bounce-animate::after {
  content: "";
  position: absolute;
  bottom: -3.5rem;
  left: 0%;
  width: 100%;
  height: 20px;
  background: #7ccf00;
  filter: blur(12px);
  border-radius: 50%;
  opacity: 0.4;
  animation: lift 3s ease-in-out infinite;
}

/* .reviewSwiper .swiper-slide {
  width: 350px;
  opacity: 0.5;
  transition: all 0.3s ease;
} */
.reviewSwiper .swiper-slide-active {
  opacity: 1;
}
.review-pagination {
  transform: translate(0) !important;
}

.review-pagination .swiper-pagination-bullet {
  @apply bg-gray-800;
}
.review-pagination .swiper-pagination-bullet-active {
  @apply bg-lime-500;
}
.review-wrapper {
  position: relative;
}

.review-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 120px;
  height: 100%;
  z-index: 10;
  pointer-events: none;
}
.review-wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 120px;
  height: 100%;
  z-index: 10;
  pointer-events: none;
}

@media (min-width: 768px) {
  .review-wrapper::before {
    background: linear-gradient(to right, #f3f4f6, transparent);
  }
  .review-wrapper::after {
    background: linear-gradient(to left, #f3f4f6, transparent);
  }
}
